<section>
  <div class="span3 well user-face">
    <center>
      <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/cbillins/128.jpg" name="aboutme" width="140" height="140" class="img-circle"></a>
      <h3>{{vm.authentication.user.email}}</h3>
    </center>
  </div>

  <div class='col-md-4 col-sm-12 clear-bottom' ng-repeat="stat in vm.tile_stats">
    <a class="col-md-offset-2 col-md-8 col-sm-12 btn btn-lg btn-success text-center" href="#">
      <i ng-class="stat.icon"></i>
      <span>{{stat.title}}<br>
        <small>{{stat.value}}</small>
      </span>
    </a>
  </div>

  <div class="brew-grid content-wrapper">
    <div class="row">
      <div class="col-sm-6 col-md-4" ng-repeat="brew in vm.brews">
        <div class="info-card">
          <img style="width: 100%" src="modules/brews/client/img/brew.jpg"/>
          <div class="info-card-details animate">
            <div class="info-card-header">
              <div class='col-md-12'>

                <button type="button" ng-click="vm.remove(brew)" class="btn btn-danger btn-fav pull-right">
                  <i class="glyphicon glyphicon-remove"></i>
                </button>

                <button type="button" ng-click="vm.toggleFavorite(brew)" ng-class="brew.favorite===0 ? 'btn btn-secondary btn-fav clear-right pull-right' : 'btn btn-success btn-fav clear-right pull-right'">
                  <i class="glyphicon glyphicon-heart"></i>
                </button>

              </div>
              <h1>
                {{brew.roaster}}
              </h1>
              <h3>
                {{brew.beans}}
                <p>
                  {{brew.method}}
                </p>
              </h3>
            </div>
            <div class="info-card-detail">
              <div class="col-xs-12 col-md-12">
                <div class="row rating-desc">
                  <div class="col-xs-3 col-md-3 text-right">
                    <p>taste</p>
                  </div>
                  <div class="col-xs-8 col-md-9">
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{brew.taste}}%"></div>
                    </div>
                  </div>
                  <div class="col-xs-3 col-md-3 text-right">
                    <p>mood</p>
                  </div>
                  <div class="col-xs-8 col-md-9">
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{brew.mood}}%"></div>
                    </div>
                  </div>
                  <div class="col-xs-3 col-md-3 text-right">
                    <p>grind</p>
                  </div>
                  <div class="col-xs-8 col-md-9">
                    <div class="progress">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{brew.grind}}%"></div>
                    </div>
                  </div>
                  <div class="col-xs-3 col-md-3 text-right">
                    <p>grams</p>
                  </div>
                  <div class="col-xs-8 col-md-9">
                    <div class="progress">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{brew.grams}}%"></div>
                    </div>
                  </div>
                  <div class="col-xs-3 col-md-3 text-right">
                    <p>temp (f)</p>
                  </div>
                  <div class="col-xs-8 col-md-9">
                    <div class="progress">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{brew.temperature}}%"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class='btn btn-success btn-circle' ng-click='vm.toggleModal()'>
      <i class='fa fa-coffee'></i>
    </button>

    <modal title='Log Your Brew' visible='vm.showModal'>
      <form name="vm.form.brewForm" class="form-horizontal" ng-submit="vm.save(vm.form.brewForm.$valid)" novalidate>
        <div class='form-group'>
          <label for='roaster'>Roaster</label>
          <input ng-model='vm.brew.roaster' type='roaster' class='form-control' id='roaster' placeholder='Enter Roaster'/>
        </div>
        <div class='form-group'>
          <label for='beans'>Beans</label>
          <input ng-model='vm.brew.beans' type='beans' class='form-control' id='beans' placeholder='Enter Beans'/>
        </div>

        <div class='form-group'>
          <label for='method'>Brew Method</label>
          <input ng-model='vm.brew.method' type='method' class='form-control' id='method' placeholder='Enter Method'/>
        </div>
        <div class='col-md-12 buffer-bottom'>
          <div class='col-md-4'>
            <label for='grind'>Grind</label>
            <input ng-model='vm.brew.grind' type='grind' class='form-control' id='grind' placeholder="Grind Size"/>
          </div>
          <div class='col-md-4'>
            <label for='water'>Grams</label>
            <input ng-model='vm.brew.grams' type='water' class='form-control' id='grams' placeholder="Grams of Water"/>
          </div>
          <div class='col-md-4'>
            <label for='temperature'>Temperature</label>
            <input ng-model='vm.brew.temperature' type='temperature' class='form-control' id='temperature' placeholder="Temperature"/>
          </div>
        </div>

        <div class='col-md-12 buffer-bottom'>
          <div class='col-md-6'>
            <label for='taste'>Taste</label>
            <div class="col-md-12">
              <rating ng-model='vm.brew.taste' value="vm.taste" max="vm.tasteMax" on-hover="vm.hoveringTaste(value)" on-leave="vm.leavingTaste()"></rating>
              <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="vm.overTaste">{{percent}}%</span>
            </div>
          </div>
          <div class='col-md-6'>
            <label for='mood'>Your Mood</label>
            <div class="col-md-12">
              <rating ng-model='vm.brew.mood' value="vm.mood" max="vm.moodMax" on-hover="vm.hoveringMood(value)" on-leave="vm.leavingMood()"></rating>
              <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="vm.overMood>0">{{percent}}%</span>
            </div>
          </div>
        </div>
      <div class="col-md-12 little-buffer" <span id="fileselector"> <label class="btn btn-default btn-block" for="upload-file-selector"> <input class="upload-file-selector" type="file"> <i class="fa_icon icon-upload-alt"></i>upload file
    </label>
  </span>
</div>
<button type='submit' class='btn btn-success col-md-offset-5'>Submit</button>
</form>
</modal>

</section>
